@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

body {
    font-family: 'Barlow Condensed', sans-serif;
    background: #eee;
}

#chart-container {
    height: 600px;
    margin: 20px auto 0;
    background-color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
    position: relative;
}

#info-container {
    min-height: 150px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
    padding: 20px;
}

#info-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#info-container ul li {
    padding: 5px 0;
}

#info-container ul li button {
    margin-left: 5px;
}

#legend-container {
    /*height: 150px;*/
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
    padding: 20px;
}

#legend-container ul li {
    text-transform: capitalize;
    color: #ffffff;
}

path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis {
    stroke: #464646;
}

.circle.hover {
    stroke-width: 7px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 10px;
    font: 12px sans-serif;
    background: #F2F2F2;
    border: 1px solid #eee;
    pointer-events: none;
}